<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <style type="text/css">
            .content{
                max-width: 800px;
                margin: 0 auto;
            }

            .content .card {
                padding: 40px;
            }

            #floating {
                position: fixed;
                top: 0;
                bottom: 0;
            }

            #floating ul {
                border-radius: 0 10px 10px 0;
                padding: 10px;
                margin:0;
            }

            #floating li {
                padding: 5px;
                border-bottom: 1px solid #e1e1e1;
            }

            #floating li:last-of-type {
                border: 0;
            }

            .content {
                display: none;
                margin-top: 70px;
            }

            .loader {
                width: 100%;
                height: 100%;
            }

            #slide-out a {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            nav {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1000;
            }

            .button-collapses {
                margin-left: 20px;
            }

            .button-collapses i {
                display: inline-block;
            }
        </style>
    </head>
    <body>     
        <nav class="fixed">
            <a href="#" data-activates="slide-out" class="button-collapses"><i class="mdi-navigation-menu"></i></a>
            <ul id="slide-out" class="side-nav">
            </ul>
        </nav>
    
        <div class="loader valign-wrapper">
            <div id="spinner" class="valign"></div>
        </div>
        <div class="content">
            <div id="mainContainer">
            </div>
        </div>

        <script type="text/javascript" src="https://cdn.rawgit.com/fgnass/spin.js/master/spin.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script type="text/javascript">
            var target = document.getElementById('spinner');
            var spinner = new Spinner(opts).spin(target);
            var daysLabels = [
                '13 days', '12 days', '11 days', '10 days',
                '9 days',  '8 days',  '7 days',  '6 days',  '5 days',
                '4 days',  '3 days',  '2 days',  '1 day', 'now',
            ];
            var prices;
            var ebsPrices;
            var instances;

            var baseData =  {
                    labels: daysLabels,
                    datasets: [
                        {
                            label: "Network In",
                            fillColor: "rgba(200, 182, 49, 0.2)",
                            strokeColor: "rgba(200, 182, 49, 1)",
                            pointColor: "rgba(200, 182, 49, 1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(200, 182, 49, 1)",
                            data: []
                        },
                        {
                            label: "Network Out",
                            fillColor: "rgba(134, 180, 2, 0.5)",
                            strokeColor: "rgba(134, 180, 2, 0.8)",
                            pointColor: "rgba(134, 180, 2, 0.8)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            strokeColor: "rgba(134, 180, 2, 0.8)",
                            data: []
                        }
                    ]
                };

            var opts = {
                    lines: 9,       length: 36,     width: 14,
                    radius: 27,     scale: 1,       corners: 1,
                    color: '#000',  opacity: 0.15,  rotate: 0,
                    direction: 1,   speed: 0.9,     trail: 49,
                    fps: 20,        zIndex: 2e9,    className: 'spinner',
                    top: '50%',     left: '50%',    shadow: false,
                    hwaccel: false, position: 'absolute'
                };

            $.getJSON('/prices?callback=?');
            $.getJSON('/ebsprices?callback=?&callbacked=ebscallback');

            $.get('/instances', function (data) {
                $('.loader').hide();
                $('.content').css('display', 'block');

                data.forEach(function (e) {
                    $('nav ul#slide-out').append($('<li/>').append($('<a/>', { href: '#'+e.InstanceId, text: e.Tags[0].Value })));

                    addToMainContainer(e);

                    $.get('/instances/'+e.Region+'/'+e.InstanceId+'/graphs', displayGraph.bind(undefined, e.InstanceId));
                });

                $('.button-collapses').sideNav({
                    menuWidth: 300, // Default is 240
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
                });

                instances = data;
            });

            function displayGraph(instance, graphData) {
                var chartData = $.extend(true, [], baseData);
                var cpuData = {
                        labels: daysLabels,
                        datasets: [
                            {
                                label: "CPU Utilization",
                                fillColor: "rgba(200, 182, 49,0.2)",
                                strokeColor: "rgba(200, 182, 49, 1)",
                                pointColor: "rgba(200, 182, 49, 1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(200, 182, 49, 1)",
                                data: graphData.CPUUtilization.map(function (e) {
                                        return e.Average;
                                    }).slice(-14)
                            }
                        ]
                    };
                var options = {
                        legendTemplate : '<ul>'
                                +'<% for (var i=0; i<datasets.length; i++) { %>'
                                    +'<li>'
                                        +'<span style=\"background-color:<%=datasets[i].fillColor%>; width: 10px; height: 10px; display:inline-block;\"></span>'
                                        +'<% if (datasets[i].label) { %> <%= datasets[i].label %><% } %>'
                                    +'</li>'
                                +'<% } %>'
                            +'</ul>',
                        scaleLabel : function (valuePayload) {
                            return  valuePayload.value + 'Kb/m';
                        }
                    };

                chartData.datasets[0].data = graphData.NetworkIn.map(function (e) {
                        return e.Average/1000;
                    }).slice(-14);

                chartData.datasets[1].data = graphData.NetworkOut.map(function (e) {
                        return e.Average/1000;
                    }).slice(-14);

                var cpuOptions = $.extend(true, {}, options);
                cpuOptions.scaleLabel = function (valuePayload) {
                        return  valuePayload.value + '%';
                    };
                var cpuChart = new Chart($('#cpu'+instance)[0].getContext('2d')).Line(cpuData, cpuOptions);
                var netChart = new Chart($('#chart'+instance)[0].getContext('2d')).Line(chartData, options);

                var cpuLegend = cpuChart.generateLegend();
                var netLegend = netChart.generateLegend();

                $('#cpu'+instance+'container').append(cpuLegend);
                $('#chart'+instance+'container').append(netLegend);
            }

            function addToMainContainer(data) {
                var newElement = [
                        '<div id="'+data.InstanceId+'" class="instance-container card" data-region="'+data.Region+'">',
                            '<div class="row">',
                                '<h4 class="tooltipped" data-tooltip="'+data.InstanceType+'">Server : ',
                                    getName(data.Tags) + ' ('+data.InstanceType+') ',
                            '</div>',
                            '<div class="row other-info">',
                            '</div>',
                            '<div class="row ebs">',
                            '</div>',
                            '<div class="row">',
                                '<div id="cpu'+data.InstanceId+'container" class="col m6 s12">',
                                    '<canvas id="cpu'+data.InstanceId+'" height="200"></canvas>',
                                '</div>',
                                '<div id="chart'+data.InstanceId+'container" class="col m6 s12">',
                                    '<canvas id="chart'+data.InstanceId+'" height="200"></canvas>',
                                '</div>',
                            '</div>',
                        '</div>'
                    ].join('');
                if($('#'+data.InstanceId, '#mainContainer')[0]) {
                    $('#'+data.InstanceId, '#mainContainer').replaceWith(newElement);
                } else {
                    $('#mainContainer').append(newElement);
                }

                data.BlockDeviceMappings.forEach(function (ebs) {
                    $('#'+data.InstanceId+' .row.ebs').append('<div data.region="'+data.Region+'" id="'+ebs.Ebs.VolumeId+'"></div>');
                });

                getPrice(data.InstanceId, data.InstanceType, data.Region);
                getVolumes(data.InstanceId, data.Region);
            }

            function getName(arr) {
                for(var i=0; i<arr.length; i++) {
                    if (arr[i].Key == 'Name') {
                        return arr[i].Value;
                    }
                }

                return 'No Name';
            }

            function displayVolumes(id, region, disks) {
                var parent = $('#'+id+' .row.ebs');
                var ul = $('<ul/>' );
                var dl = $('<dl/>');
                var dd = $('<dd />');
                
                dl.append($('<dt />', {text: 'Volume Prices'}));
                
                disks.forEach(function (e) {
                    ul.append($('<li/>', { text: e.VolumeId + ': ~USD ' + compute(e, region)+'/month'}))
                });

                dd.append(ul);
                dl.append(dd);
                parent.append(dl);
            }

            function compute(ebs, region) {
                switch (ebs.VolumeType) {
                    case 'gp2' :
                        return ebs.Size * getEbsPrice(ebs.VolumeType, region);
                    case 'io1' :
                        return ebs.Iops * getEbsPrice(ebs.VolumeType, region);
                    case 'standard' :
                        return 0;
                    default:
                        return 'n/a';
                }
            }

            function getEbsPrice(type, region) {
                var base = _.where(ebsPrices, {region: region})[0].types;
                var parent;
                try {
                    switch (type) {
                        case 'gp2' :
                            parent = _.where(base, {name:'Amazon EBS General Purpose (SSD) volumes'})[0].values;
                            return _.where(parent, {'rate' :'perGBmoProvStorage'})[0].prices.USD;
                            
                        case 'io1' :
                            parent = _.where(base, {name:'Amazon EBS Provisioned IOPS (SSD) volumes'})[0].values;
                            return _.where(parent, {'rate' :'perPIOPSreq'})[0].prices.USD
                            
                        case 'standard' :
                            return 0;
                        default:
                            return 'n/a';
                    }
                } catch (e) {
                    console.log('error getting ebs price', e, type, parent);
                    return 'n/a';
                }
            }

            function getPrice(id, type, region) {
                try {
                    var price = _.where(
                            _.where(
                                _.where(
                                    prices, {region: region}
                                )[0].instanceTypes, { sizes: [ { size: type } ] }
                            )[0].sizes, { size: type }
                        );

                    var hourly = price[0].valueColumns[0].prices.USD;
                    var dl = $('<dl/>');
                    dl.append($('<dt />', {text: 'Server Price'}));
                    dl.append($('<dd />', {text: '~USD '+(hourly * 24 *30) + '/month'}));
                    $('#'+id+' .other-info').append(dl);
                } catch (e) {
                    
                }            
            }

            function getVolumes(id, region) {
                $.get('/instances/'+region+'/'+id+'/disks', displayVolumes.bind(undefined, id, region));
            }

            function callback(data) {
                prices = data.config.regions;
            }

            function ebscallback(data) {
                ebsPrices = data.config.regions;
            }
        </script>
    </body>
</html>